@color1: #E0E2E4;
@color2: #303030;
@bg: #1E1E1E;
@window_size:800px;

.standard-text(@size: 25px) {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: @size;
    text-shadow: 1px 1px @color2;
    letter-spacing: -1px;
    color: @color1;
}

.big-text {
    .standard-text(75px);
    letter-spacing: -7px;
    color: red; 
}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.center-div {
    margin:0px auto;
}

body {
    .standard-text;
	background-color: @bg;
}

#GameWindow {
    .rounded-corners;
    .center-div;
    width:@window_size;
    height:@window_size;
    border:10px solid @color2;
    background-color: @color1;
}

